# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# binary
bin/
obj/
*.exe
*.out
*.app

# project file stuffs
.DS_Store
hellOpenGL.cmake
CMakeLists.txt
learnOpenGL.xcworkspace/contents.xcworkspacedata
hellOpenGL.xcodeproj/project.pbxproj
hellOpenGL.make
Makefile
hellOpenGL.vcxproj
learnOpenGL.sln
